@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de control de inventarios</h1>
    <h2 class="display-4">Versión 1.0</h2>
    <p>Factory 2023 <a href="https://github.com/juanupc">Uso bajo licencia</a>.</p>
</div>
